[internal]
exten => 1001,1,Progress()
 same => n,Dial(PJSIP/1001,20)
 same => n,VoiceMail(1001@default)
 same => n,Hangup()

exten => 1002,1,Progress()
 same => n,Dial(PJSIP/1002,20)
 same => n,VoiceMail(1002@default)
 same => n,Hangup()

exten => 1003,1,Progress()
 same => n,Dial(PJSIP/1003,20)
 same => n,VoiceMail(1003@default)
 same => n,Hangup()

exten => 1004,1,Goto(Lenny,talk,1)
